name: build_win64_dev

on:
  push:
    branches:
      - 'dev'

env:
  TEST_TAG: batonogov/pyinstaller-windows:test
  LATEST_TAG: batonogov/pyinstaller-windows:dev
  DOCKERFILE: Dockerfile-py3-win64

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and export to Docker
        uses: docker/build-push-action@v3
        with:
          context: .
          load: true
          tags: ${{ env.TEST_TAG }}
          file: ${{ env.DOCKERFILE }}
      -
        name: Test
        run: |
          docker run --rm -v "$(pwd)/test/:/src/" ${{ env.TEST_TAG }} "pyinstaller --onefile hello.py"
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ env.LATEST_TAG }}
          file: ${{ env.DOCKERFILE }}
